[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = [
  "if [ \"$SERVICE_TYPE\" = \"website\" ]; then pnpm run build --filter=website; else pnpm run build --filter=payload_app && cd apps/payload_app && npx payload generate:types && npx payload migrate:create; fi"
]

[start]
cmd = "if [ \"$SERVICE_TYPE\" = \"website\" ]; then cd apps/website && pnpm start; else cd apps/payload_app && pnpm start; fi"
