[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build --filter=payload_app"]

[start]
cmd = "cd apps/payload_app && pnpm start"
